<html ng-app="converterApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Wellcome to Converter</title>
<link href='./css/style.css' rel="stylesheet" type="text/css" />
<link href='./css/css/font-awesome.css' rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<script data-require="angular.js@*" data-semver="1.3.0-beta.14"
	src="https://code.angularjs.org/1.3.0-beta.14/angular.js"></script>
<script data-require="angular-animate@*" data-semver="1.3.0-beta.14"
	src="https://code.angularjs.org/1.3.0-beta.14/angular-animate.js"></script>
<script type="text/javascript" src="./js/app.js"></script>
</head>
<body>
	<div ng-controller="converterController">
		<h2 class="page-title">Roman Numerals Converter</h2>
		<h4 class="page-title">Demo by mahmutsezenol</h4>
		<div id="roman-numeral-panel" class="panel">
			<div class="panel-heading">
				<i class="panel-title-icon fa fa-plus"></i> <span
					class="panel-title">Convert Roman Numerals</span>
			</div>
			<div class="panel-body">
				<table class="convert-to-roman">
					<tr>
						<td>Number :</td>
						<td><input type="text" ng-model="number" type="number" /></td>

					</tr>
					<tr>
						<td></td>
						<td><button ng-click="convert()" class="btn-panel-big">Convert</button></td>
					</tr>
					<tr>
						<td></td>
						<td><h4>{{ roman }}</h4></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>